<br />
<img src="~/images/admin-area.png" alt="Management Field" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>This is the area of management</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
</div>