<div class="container">
    <img src="~/images/contact-us.png" alt="Contact us"/>
    <div class="jumbotron">
        <h3>We want to hear what you have to say</h3>
        <p>
            If you have any questions or suggestions contact us
        </p>
        <p>
            <span>
                <img src="~/images/message.png"/>
            </span>
            <h5><email address="agemiroalves11@gmail.com" content="Send an e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone.png"/>
            </span>
            <h5>(83) 98186-1755</h5>
            <br />
            <span>
                <img src="~/images/home.png"/>
            </span>
            <h5>Rua Joaquim Damião s/n - 58815-000 - Paraíba</h5>
        </p>
    </div>
</div>